<h4>Add your items here</h4>
<% @items.each do |item|%>
	<%= link_to(image_tag(item.avatar_url(:thumb)),item_reviews_path(item))%>
	
	<strong>Title:</strong> <%= item.title%></br>
	<strong>Cuisine:</strong> <%= item.Cuisine%></br>
	<strong>Description:</strong> <%= item.description%></br>
	<strong>Price:</strong> <%= item.price%>
	<%= link_to "Delete", item_path(item.id), method: :delete, data:{confirm: "Are you sure?"}%>
	<%= link_to 'view Rating', item_reviews_path(item)%>
<%end%>

<%= link_to 'Add Items', new_item_path %>
