<h4>Add your items here</h4>
<% @items.each do |item|%>
		<%= image_tag item.avatar_url(:thumb)%>
		<strong>Title:</strong> <%= item.title%></br>
		<strong>Cuisine:</strong> <%= item.Cuisine%></br>
		<strong>Description:</strong> <%= item.description%></br>
		<strong>Price:</strong> <%= item.price%><br/><br/>
		<%= link_to "Delete", item_path(item.id), method: :delete, data:{confirm: "Are you sure?"}%>
<%end%>

<%= link_to 'Add Items', new_item_path %>
