<%= image_tag @item.avatar_url (:thumb)%>
<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @item.Cuisine %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>
<%= link_to 'Home', items_path%>